<%= form_for @car, html: {class: "new_CAR", id: "new_car"} do |f| %>
  <% if @car.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
	    <ul>
	      <% @car.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>


<div class="bg-jet pad-tb-1 border-bottom-lgray">
  <div class="white-text margin-bottom-0 margin-lr-1 font-heading font-size-2"><a>My Garage</a></div>
  <a class="bl white-text underline margin-lr-1 add-car" style="display: none;">Add a car</a>
  <div class="margin-lr-2 width-70" data-vehicle-dropdowns="" style="">
    <div class="ymm-dropdowns">
	<select class="ymm-select" data-year-dropdown="">
    <%=f.label :year %>

		<option value="">Year</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
		<option value="2016">2016</option>
		<option value="2015">2015</option>
		<option value="2014">2014</option>
		<option value="2013">2013</option>
		<option value="2012">2012</option>
		<option value="2011">2011</option>
		<option value="2010">2010</option>
		<option value="2009">2009</option>
		<option value="2008">2008</option>
		<option value="2007">2007</option>
		<option value="2006">2006</option>
		<option value="2005">2005</option>
		<option value="2004">2004</option>
		<option value="2003">2003</option>
		<option value="2002">2002</option>
		<option value="2001">2001</option>
		<option value="2000">2000</option>
		<option value="1999">1999</option>
		<option value="1998">1998</option>
		<option value="1997">1997</option>
		<option value="1996">1996</option>
		<option value="1995">1995</option>
		<option value="1994">1994</option>
		<option value="1993">1993</option>
		<option value="1992">1992</option>
		<option value="1991">1991</option>
		<option value="1990">1990</option>
		<option value="1989">1989</option>
		<option value="1988">1988</option>
		<option value="1987">1987</option>
		<option value="1986">1986</option>
		<option value="1985">1985</option>
		<option value="1984">1984</option>
		<option value="1983">1983</option>
		<option value="1982">1982</option>
		<option value="1981">1981</option>
		<option value="1980">1980</option>
		<option value="1979">1979</option>
		<option value="1978">1978</option>
		<option value="1977">1977</option>
		<option value="1976">1976</option>
		<option value="1975">1975</option>
		<option value="1974">1974</option>
		<option value="1973">1973</option>
		<option value="1972">1972</option>
		<option value="1971">1971</option>
		<option value="1970">1970</option>
		<option value="1969">1969</option>
		<option value="1968">1968</option>
		<option value="1967">1967</option>
		<option value="1966">1966</option>
		<option value="1965">1965</option>
		<option value="1964">1964</option>
		<option value="1963">1963</option>
		<option value="1962">1962</option>
		<option value="1961">1961</option>
		<option value="1960">1960</option>
	</select>
  <select class="ymm-select" data-make-dropdown="">
    <%= f.label :make %>
    <option>Make</option><option value="73">Audi</option><option value="31">BMW</option><option value="20">Jaguar</option><option value="11">Land Rover</option><option value="63">Mercedes-Benz</option><option value="32">Mini</option><option value="2">Porsche</option><option value="65">Saab</option><option value="74">Volkswagen</option><option value="27">Volvo</option></select>
  <select class="ymm-select" data-model-dropdown="">
    <%= f.label :model %>
    <option>Model</option><option value="118423">128i</option><option value="118424">135i</option><option value="118625">328i</option><option value="118626">328i xDrive</option><option value="118627">335i</option><option value="118629">335i xDrive</option><option value="118628">335is</option><option value="118631">528i</option><option value="118640">528i xDrive</option><option value="118632">535i</option><option value="118633">535i GT</option><option value="118634">535i GT xDrive</option><option value="118635">535i xDrive</option><option value="118636">550i</option><option value="118637">550i GT</option><option value="118638">550i GT xDrive</option><option value="118639">550i xDrive</option><option value="118641">640i</option><option value="118425">650i</option><option value="118642">650i xDrive</option><option value="118442">740Li</option><option value="118441">740i</option><option value="118445">750Li</option><option value="118446">750Li xDrive</option><option value="118443">750i</option><option value="118444">750i xDrive</option><option value="118451">760Li</option><option value="123101">ActiveHybrid 5</option><option value="118447">Alpina B7</option><option value="118450">Alpina B7 xDrive</option><option value="118448">Alpina B7L</option><option value="118449">Alpina B7L xDrive</option><option value="118630">M3</option><option value="123499">M6</option><option value="118454">X3</option><option value="118452">X5</option><option value="118453">X6</option><option value="118643">Z4</option></select>
  <select class="ymm-select" disabled="disabled" data-sub-model-dropdown="" style="display: none"><option value="Trim">Trim</option></select>
  <select class="ymm-select" disabled="disabled" data-body-dropdown="" style="display: none"><option value="Body">Body</option></select>
  <select class="ymm-select" disabled="disabled" data-engine-dropdown="" style="display: none"><option value="Engine">Engine</option></select>
  <select class="ymm-select" disabled="disabled" data-transmission-dropdown="" style="display: none"><option value="Transmission">Transmission</option></select>
</div>

</div>

  </div>
  <ul>
      <li class="saved-car">
              	      </li>
</ul>
<div class="submit">
         <%= f.submit "Add Car" %>
         <img src="https://listcarbrands.com/wp-content/uploads/2017/09/european-cars.jpg" />
       </div>
<% end %>
